.HomeWrapper {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.8)
  ),
  url("./Assets/keyboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: initial;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
}
